@tailwind base;
@tailwind components;
@tailwind utilities;

/* Il tuo CSS personalizzato */
body {
    font-family: 'Lexend', sans-serif;
}

.text-gradient {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #7f13ec, #FFD700);
}